%div{:id => 'repair', :class => 'modal'}
  %h2 Repair
  %form{:action => '#repair', :id => 'repair', :method => 'get'}
    %div{:class => 'left'}
      %ul
        %li
          = label_tag :name
          = text_field_tag :name
        %li
          = label_tag :phone
          = text_field_tag :phone
        %li
          = label_tag :title
          = text_field_tag :title
        %li
          = label_tag :serial, "Serial Number"
          = text_field_tag :serial
      %ul
        %li
          = label_tag :description
          = text_area_tag :description
      %ul
        %li
          = label_tag :symptoms
          = text_area_tag :symptoms
      %ul
        %li
          = label_tag :notes
          = text_area_tag :notes
    %div{:class => 'right'}
      %ul
        %li
          = label_tag :warranty
          = text_field_tag :warranty
        %li
          = label_tag :cost
          = text_field_tag :cost, nil, :placeholder => '0.00'
        %li
          = label_tag :receiver, "Received By"
          = text_field_tag :receiver
        %li
          = label_tag :technician
          = text_field_tag :technician
      %ul
        %li
          = label_tag :started
          = select_date Date.today, :prefix => 'started'
        %li
          = select_time Time.now, :prefix => 'started', :include_seconds => true, :ignore_date => true
      %ul
        %li
          = label_tag :finished
          = select_date Date.today, :prefix => 'finished'
        %li
          = select_time Time.now, :prefix => 'finished', :include_seconds => true, :ignore_date => true
    %ul{:class => 'group'}
      %li
        = label_tag :status
        = text_field_tag :status
      %li
        = label_tag :contacted
        = check_box_tag :contacted, 0, true
      %li
        = label_tag :active
        = check_box_tag :active, 1, true
    %ul
      %li
        %ul{:id => 'repair_nav', :class => 'button_nav'}
          %li
            %a{:href => '#close', :class => 'close button'} Close
          %li
            %a{:href => '#save', :class => 'save button'} Save