%div{:class => 'standard_receipt'}
  %hgroup
    %h1 Gameroom
    %h2 1713 O St. Lincoln NE 68508 
    %h2 402-438-7161
  %p= "ID #%09d" % @transaction.id
  - unless @transaction.user.nil?
    %p= @transaction.user.login
  %p= @transaction.created_at.getlocal
  %table{:class => 'lines'}
    %thead
      %tr
        %th Qty.
        %th Item
        %th Subtotal
    %tbody
      - @transaction.lines.each do |line|
        %tr
          %td{:class => 'quantity'}= line.quantity
          %td{:class => 'title'}= truncate line.title.upcase, :length => 10, :seperator => ''
          %td{:class => 'subtotal'}= number_to_currency line.subtotal.to_f / 100
  %table{:class => 'summary'}
    %tbody
      %tr{:id => 'subtotal'}
        %td Subtotal
        %td= number_to_currency @transaction.subtotal.to_f / 100
      %tr{:id => 'tax'}
        %td Tax
        %td= number_to_currency @transaction.tax.to_f / 100
      %tr{:id => 'divider'}
        %td
        %td =========
      %tr{:id => 'total'}
        %td Total
        %td= number_to_currency @transaction.total.to_f / 100
      %tr{:id => 'divider'}
        %td
        %td =========
      - @transaction.payments.each do |payment|
        - if payment.amount != 0
          %tr{:id => 'payment'}
            %td= payment.form.gsub('_', ' ').split(' ').each{|word| word.capitalize!}.join(' ')
            %td= number_to_currency payment.amount.to_f / 100
      %tr{:id => 'change'}
        %td Change
        %td= number_to_currency @transaction.change.to_f / 100
  %p Open 10a-10p 7 Days
  %p www.gameroomlincoln.com