= p.fields_for :address do |a|
  %li
    = a.label :first_line
    = a.text_field :first_line
  %li
    = a.label :second_line
    = a.text_field :second_line
  %li
    = a.label :city
    = a.text_field :city
  %li
    = a.label :state
    = a.text_field :state
  %li
    = a.label :zip
    = a.text_field :zip