%div{:id => 'cart_header', :class => 'header_container'}
  %div{:id => 'cart_search'}
    %ul{:class => 'alphabet_nav'}
      - ('A'..'Z').each do |letter|
        %li
          %a{:href => "##{letter}", :class => 'button dark'}= letter
    = form_for :cart_search, :method => 'get', :url => root_path do |f|
      %div
        = f.text_field :body_contains, :id => 'cart_query', :placeholder => 'Search for an item...'
  %h2{:id => 'cart_summary'} 0 item(s): $0.00
%ul{:id => 'cart_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#cart_list', :class => 'cart_list selected'} Cart
  %li
    %a{:href => '#cart_form', :class => 'cart_form'} Add Item(s)
  %li
    %a{:href => '#cart_search_results', :class => 'cart_search_results'} Search Results
%div{:id => 'cart_pages', :class => 'page_container'}
  %div{:id => 'cart_list'}
    = render :partial => 'cart_list'
  %div{:id => 'cart_form'}
    = render :partial => 'cart_form'
  %div{:id => 'cart_search_results'}
    = render :partial => 'cart_results'