%div{:id => 'clock_in_out', :class => 'modal'}
  %h2 Clock In / Out
  %form{:action => '#clock_in_out', :id => 'clock_in_out', :method => 'get'}
    %ul
      %li
        = label_tag :user
        = #select_tag :user, options_for_select(@users.map { |user| ["#{user.person.first_name} #{user.person.last_name}", user.id] })
    %ul
      %li
        = label_tag :pin, "PIN"
        = password_field_tag :pin
    %ul
      %li
        %ul{:id => 'clock_in_out_nav', :class => 'button_nav'}
          %li
            %a{:href => '#cancel', :class => 'cancel button'} Cancel
          %li
            %a{:href => '#clock_in_out', :class => 'clock_in_out button'} Clock In / Out