%div{:id => 'inventory_item', :class => 'modal'}
  %h2 Item
  %form{:action => '#inventory_item', :id => 'inventory_item', :method => 'get'}
    %ul
      %li
        = label_tag :title
        = text_field_tag :title
    %ul
      %li
        = label_tag :description
        = text_area_tag :description
    %ul
      %li
        = label_tag :tags
        = text_area_tag :tags
    %ul
      %li
        = label_tag :sku
        = text_field_tag :sku
    %ul{:class => 'inventory_prices'}
      %li
        = label_tag :price
        = text_field_tag :price, nil, :placeholder => '0.00'
      %li
        = label_tag :credit
        = text_field_tag :credit, nil, :placeholder => '0.00'
      %li
        = label_tag :cash
        = text_field_tag :cash, nil, :placeholder => '0.00'
    %ul{:class => 'inventory_checkboxes'}
      %li
        = label_tag :taxable
        = check_box_tag :taxable, 1, true
      %li
        = label_tag :discountable
        = check_box_tag :discountable, 1, true
      %li
        = label_tag :active
        = check_box_tag :active, 1, true
    %ul
      %li
        %ul{:id => 'inventory_item_nav', :class => 'button_nav'}
          %li
            %a{:href => '#inventory_close', :class => 'inventory_close button'} Close
          %li
            %a{:href => '#inventory_save', :class => 'inventory_save button'} Save