= render :partial => 'inventory_item'
= render :partial => 'tills_audit'
= render :partial => 'tills_adjust'
= render :partial => 'transactions_till'
= render :partial => 'timeclock_clock_in_out'
= render :partial => 'timeclock_timecard'
= render :partial => 'tills_till'
= render :partial => 'receipt'