= render :partial => 'item'
= render :partial => 'repair'
= render :partial => 'order'
= render :partial => 'audit'
= render :partial => 'adjust'
= render :partial => 'tills_till'
= render :partial => 'clock_in_out'
= render :partial => 'timecard'
= render :partial => 'till'
= render :partial => 'receipt'