%div{:id => 'payment_total', :class => 'payment_line'}
  %ul
    %li
      %span{:class => 'payment_cart_items'} 0 item(s) in cart
    %li
      %span{:class => 'payment_symbol'} =
    %li
      %span{:class => 'payment_pill'}  $0.00 ($0.00)
    %li
      %span{:class => 'payment_symbol'} +
    %li
      %span{:class => 'payment_pill'} Tax: $0.00
    %li
      %span{:class => 'payment_symbol'} =
    %li 
      %span{:class => 'payment_pill'} Total: $0.00
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} -
%div{:id => 'payment_store_credit', :class => 'payment_line'}
  %h3 Store Credit
  %ul
    %li
      %span{:class => 'payment_customer_credit'} First Last: $100.00
    %li
      %a{:href => '#apply'} Apply
    %li
      %a{:href => '#clear'} Clear
    %li
      %form{:action => '#store_credit'}
        %div
          = text_field :store_credit, :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_gift_card', :class => 'payment_line'}
  %h3 Gift Card
  %ul
    %li
      %a{:href => '#clear'} Clear
    %li
      %form{:action => '#gift_card'}
        %div
          = text_field :gift_card, :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_check', :class => 'payment_line'}
  %h3 Check
  %ul
    %li
      %a{:href => '#clear'} Clear
    %li
      %form{:action => '#check'}
        %div
          = text_field :check, :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_credit_card', :class => 'payment_line'}
  %h3 Credit Card
  %ul
    %li
      %a{:href => '#clear'} Clear
    %li
      %form{:action => '#credit_card'}
        %div
          = text_field :credit_card, :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_cash', :class => 'payment_line'}
  %h3 Cash
  %ul
    %li
      %a{:href => '#clear'} Clear
    %li
      %form{:action => '#cash'}
        %div
          = text_field :cash, :amount, :placeholder => '0.00'
%div{:id => 'payment_action', :class => 'payment_line'}
  %form{:action => '#action'}
    %ul
      %li 
        %span{:class => 'payment_pill'} Credit Applied
      %li
        = text_field :credit_value, :amount, :placeholder => '0.00'
      - (1..11).each do |n|
        %li
          %a{:href => '#payment_scale', :class => 'payment_scale'} *
      %li
        = text_field :cash_value, :amount, :placeholder => '0.00'
      %li 
        %span{:class => 'payment_pill'} Cash Given
      %li
        %span{:class => 'payment_symbol'} =
      %li
        %span{:class => 'payment_pill payment_pill_action'} Change Due: $0.00