%div{:id => 'payment_summary', :class => 'payment_line'}
  %ul
    %li
      %span{:id => 'payment_summary_items', :class => 'payment_plain'}
    %li
      %span{:class => 'payment_symbol'} =
    %li
      %span{:id => 'payment_summary_subtotal', :class => 'payment_pill'}
    %li
      %span{:class => 'payment_symbol'} +
    %li
      %span{:id => 'payment_summary_tax', :class => 'payment_pill'}
    %li
      %span{:class => 'payment_symbol'} =
    %li 
      %span{:id => 'payment_summary_total', :class => 'payment_pill'}
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} -
%div{:id => 'payment_store_credit', :class => 'payment_line'}
  %h3 Store Credit
  %ul
    %li
      %span{:id => 'payment_customer', :class => 'payment_plain'}
    %li
      %a{:href => '#apply', :class => 'button apply'} Apply Credit
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :store_credit, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-type" => 'store_credit'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_gift_card', :class => 'payment_line'}
  %h3 Gift Card
  %ul
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :gift_card, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-type" => 'gift_card'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_check', :class => 'payment_line'}
  %h3 Check
  %ul
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :check, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-type" => 'check'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_credit_card', :class => 'payment_line'}
  %h3 Credit Card
  %ul
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :credit_card, :method => 'get', :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-type" => 'credit_card'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_cash', :class => 'payment_line'}
  %h3 Cash
  %ul
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :cash, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-type" => 'cash'
%div{:id => 'payment_action', :class => 'payment_line'}
  = form_for :payment_action, :method => 'get', :url => root_path do |f|
    %ul{:id => 'payment_change_container'}
      %li
        %span{:class => 'payment_symbol'} =
      %li
        %span{:id => 'payment_change', :class => 'payment_pill'} Change Due: $0.00
    %ul{:id => 'payment_scale_container'}
      %li
        %span{:class => 'payment_pill'} Credit Applied
      %li
        = f.text_field :credit_value, :placeholder => '0.00', :class => 'scale'
      - (1..11).each do |n|
        %li
          %a{:href => '#payment_scale', :class => 'button dark'} *
      %li
        = f.text_field :cash_value, :placeholder => '0.00', :class => 'scale'
      %li 
        %span{:class => 'payment_pill'} Cash Given