%div{:id => 'payment_total', :class => 'payment_line'}
  %ul
    %li
      %span{:class => 'payment_cart_items'} 0 item(s) in cart
    %li
      %span{:class => 'payment_symbol'} =
    %li
      %span{:class => 'payment_pill'}  $0.00 ($0.00)
    %li
      %span{:class => 'payment_symbol'} +
    %li
      %span{:class => 'payment_pill'} Tax: $0.00
    %li
      %span{:class => 'payment_symbol'} =
    %li 
      %span{:class => 'payment_pill'} Total: $0.00
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} -
%div{:id => 'payment_store_credit', :class => 'payment_line'}
  %h3 Store Credit
  %ul
    %li
      %span{:class => 'payment_customer_credit'} First Last: $100.00
    %li
      %a{:href => '#apply', :class => 'button'} Apply
    %li
      %a{:href => '#clear', :class => 'button'} Clear
    %li
      = form_for :store_credit, :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_gift_card', :class => 'payment_line'}
  %h3 Gift Card
  %ul
    %li
      %a{:href => '#clear', :class => 'button'} Clear
    %li
      = form_for :gift_card, :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_check', :class => 'payment_line'}
  %h3 Check
  %ul
    %li
      %a{:href => '#clear', :class => 'button'} Clear
    %li
      = form_for :check, :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_credit_card', :class => 'payment_line'}
  %h3 Credit Card
  %ul
    %li
      %a{:href => '#clear', :class => 'button'} Clear
    %li
      = form_for :credit_card, :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00'
%div{:class => 'payment_divider'}
  %span{:class => 'payment_symbol'} +
%div{:id => 'payment_cash', :class => 'payment_line'}
  %h3 Cash
  %ul
    %li
      %a{:href => '#clear', :class => 'button'} Clear
    %li
      = form_for :cash, :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00'
%div{:id => 'payment_action', :class => 'payment_line'}
  = form_for :payment_action, :url => root_path do |f|
    %ul
      %li 
        %span{:class => 'payment_pill'} Credit Applied
      %li
        = f.text_field :credit_value, :placeholder => '0.00'
      - (1..11).each do |n|
        %li
          %a{:href => '#payment_scale', :class => 'button dark'} *
      %li
        = f.text_field :cash_value, :placeholder => '0.00'
      %li 
        %span{:class => 'payment_pill'} Cash Given
      %li
        %span{:class => 'payment_symbol'} =
      %li
        %span{:class => 'payment_pill payment_pill_action'} Change Due: $0.00