= c.fields_for :person do |p|
  %li
    = p.label :first_name
    = p.text_field :first_name
  %li
    = p.label :middle_name
    = p.text_field :middle_name
  %li
    = p.label :last_name
    = p.text_field :last_name
  = render :partial => 'address_form', :locals => {:p => p}
  = render :partial => 'phone_form', :locals => {:p => p}
  = render :partial => 'email_form', :locals => {:p => p}
    