%div{:id => 'tills_till', :class => 'modal'}
  %h2 Till
  %form{:action => '#tills_till', :id => 'tills_till', :method => 'get'}
    %ul
      %li
        = label_tag :title
        = text_field_tag :title
    %ul
      %li
        = label_tag :description
        = text_area_tag :description
    %ul
      %li
        = label_tag :active
        = check_box_tag :active, 1, true
    %ul
      %li
        %ul{:id => 'tills_till_nav', :class => 'button_nav'}
          %li
            %a{:href => '#tills_close', :class => 'tills_close button'} Close
          %li
            %a{:href => '#tills_save', :class => 'tills_save button'} Save