%div{:id => 'transactions_payment_cart', :class => 'transactions_payment_line'}
  %ul
    %li
      %span{:id => 'transactions_payment_cart_items', :class => 'transactions_payment_plain'}
    %li
      %span{:class => 'transactions_payment_symbol'} =
    %li
      %span{:id => 'transactions_payment_cart_subtotal', :class => 'transactions_payment_pill'}
%div{:class => 'transactions_payment_divider'}
  %span{:class => 'transactions_payment_symbol'} -
%div{:id => 'transactions_payment_store_credit', :class => 'transactions_payment_line'}
  %h3 Store Credit
  %ul
    %li
      %span{:id => 'transactions_payment_customer', :class => 'transactions_payment_plain'}
    %li
      %a{:href => '#amount_due', :class => 'button amount_due'} Amount Due
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :store_credit, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'store_credit'
%div{:id => 'transactions_payment_summary', :class => 'transactions_payment_line'}
  %ul
    %li
      %span{:class => 'transactions_payment_symbol'} =
    %li
      %span{:id => 'transactions_payment_summary_taxable_subtotal', :class => 'transactions_payment_pill'}
    %li
      %span{:class => 'transactions_payment_symbol'} +
    %li
      %span{:id => 'transactions_payment_summary_tax', :class => 'transactions_payment_pill'}
    %li
      %span{:class => 'transactions_payment_symbol'} =
    %li 
      %span{:id => 'transactions_payment_summary_total', :class => 'transactions_payment_pill'}
%div{:class => 'transactions_payment_divider'}
  %span{:class => 'transactions_payment_symbol'} +
%div{:id => 'transactions_payment_gift_card', :class => 'transactions_payment_line'}
  %h3 Gift Card
  %ul
    %li
      %a{:href => '#amount_due', :class => 'button amount_due'} Amount Due
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :gift_card, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'gift_card'
%div{:class => 'transactions_payment_divider'}
  %span{:class => 'transactions_payment_symbol'} +
%div{:id => 'transactions_payment_check', :class => 'transactions_payment_line'}
  %h3 Check
  %ul
    %li
      %a{:href => '#amount_due', :class => 'button amount_due'} Amount Due
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :check, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'check'
%div{:class => 'transactions_payment_divider'}
  %span{:class => 'transactions_payment_symbol'} +
%div{:id => 'transactions_payment_credit_card', :class => 'transactions_payment_line'}
  %h3 Credit Card
  %ul
    %li
      %a{:href => '#amount_due', :class => 'button amount_due'} Amount Due
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :credit_card, :method => 'get', :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'credit_card'
%div{:class => 'transactions_payment_divider'}
  %span{:class => 'transactions_payment_symbol'} +
%div{:id => 'transactions_payment_cash', :class => 'transactions_payment_line'}
  %h3 Cash
  %ul
    %li
      %a{:href => '#penny', :class => 'button denomination', :"data-denomination" => 0.01} $0.01
    %li
      %a{:href => '#nickel', :class => 'button denomination', :"data-denomination" => 0.05} $0.05
    %li
      %a{:href => '#dime', :class => 'button denomination', :"data-denomination" => 0.1} $0.10
    %li
      %a{:href => '#quarter', :class => 'button denomination', :"data-denomination" => 0.25} $0.25
    %li
      %a{:href => '#one', :class => 'button denomination', :"data-denomination" => 1} $1
    %li
      %a{:href => '#two', :class => 'button denomination', :"data-denomination" => 2} $2
    %li
      %a{:href => '#five', :class => 'button denomination', :"data-denomination" => 5} $5
    %li
      %a{:href => '#ten', :class => 'button denomination', :"data-denomination" => 10} $10
    %li
      %a{:href => '#twenty', :class => 'button denomination', :"data-denomination" => 20} $20
    %li
      %a{:href => '#fifty', :class => 'button denomination', :"data-denomination" => 50} $50
    %li
      %a{:href => '#hundred', :class => 'button denomination', :"data-denomination" => 100} $100
    %li
      %a{:href => '#closest', :class => 'button closest'} Closest
    %li
      %a{:href => '#amount_due', :class => 'button amount_due'} Amount Due
    %li
      %a{:href => '#clear', :class => 'button clear'} Clear
    %li
      = form_for :cash, :method => 'get', :url => root_path do |f|
        %div
          = f.text_field :amount, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'cash'
%div{:id => 'transactions_payment_action', :class => 'transactions_payment_line'}
  = form_for :payment_action, :method => 'get', :url => root_path do |f|
    %ul{:id => 'transactions_payment_change_container'}
      %li
        %span{:class => 'transactions_payment_symbol'} =
      %li
        %span{:id => 'transactions_payment_change', :class => 'transactions_payment_pill'} Change Due: $0.00
    %ul{:id => 'transactions_payment_scale_container'}
      %li
        %span{:class => 'transactions_payment_pill'} Credit Applied
      %li{:id => 'transactions_payment_scale_store_credit'}
        = f.text_field :credit_value, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'store_credit'
      - (0..10).each do |n|
        %li
          %a{:href => '#payment_scale', :class => 'button dark', :"data-index" => "#{10 - n}"} *
      %li{:id => 'transactions_payment_scale_cash'}
        = f.text_field :cash_value, :placeholder => '0.00', :class => 'payment', :"data-payment-form" => 'cash'
      %li 
        %span{:class => 'transactions_payment_pill'} Cash Given