%div{:id => 'transactions_customer_header', :class => 'header_container'}
  %div{:id => 'transactions_customer_search'}
    %ul{:class => 'alphabet_nav'}
      - ('A'..'Z').each do |letter|
        %li
          %a{:href => "##{letter}", :class => 'button dark'}= letter
    %form{:action => '/', :method => 'get'}
      %div
        = text_field_tag :query, nil, :class => 'query', :placeholder => 'Search for a customer...'
        %a{:href => '#clear', :class => 'button clear'} X
        %a{:href => '#next', :class => 'button next'} >
        %a{:href => '#prev', :class => 'button prev'} <
        %img{:src => 'images/loading.gif', :alt => 'Loading...', :class => 'loading'}
%ul{:id => 'transactions_customer_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#transactions_customer_review', :class => 'transactions_customer_review'} Customer
  %li
    %a{:href => '#transactions_customer_form', :class => 'transactions_customer_form'} Add / Update Customer
  %li
    %a{:href => '#transactions_customer_search_results', :class => 'transactions_customer_search_results'} Search Results
%div{:id => 'transactions_customer_pages', :class => 'page_container'}
  %div{:id => 'transactions_customer_review'}
    = render :partial => 'transactions_customer_review'
  %div{:id => 'transactions_customer_form'}
    = render :partial => 'transactions_customer_form'
  %div{:id => 'transactions_customer_search_results'}
    = render :partial => 'transactions_customer_results'