%form{:action => '#transactions_line', :method => 'get'}
  %ul{:class => 'transactions_line_nav'}
    %li
      %ul{:class => 'button_nav'}
        %li
          %a{:href => '#more', :class => 'button more'} More
        %li
          %a{:href => '#less', :class => 'button less'} Less
        %li
          %a{:href => '#clear_all', :class => 'button clear_all'} Clear
        %li
          %a{:href => '#add_all', :class => 'button add_all'} Add All To Cart
  - (1..5).each do
    %ul{:class => 'transactions_line_elements'}
      %li
        = label_tag :quantity, "Qty."
        = text_field_tag :quantity, 1, :class => 'quantity'
      %li
        = label_tag :title, "Title"
        = text_field_tag :title
      %li
        = label_tag :description, "Description"
        = text_field_tag :description
      %li
        = label_tag :price, "Base Price"
        = text_field_tag :price, nil, :placeholder => '0.00', :class => 'price'
      %li
        = label_tag :credit, "Credit Price"
        = text_field_tag :credit, nil, :placeholder => '0.00', :class => 'price'
      %li
        = label_tag :cash, "Cash Price"
        = text_field_tag :cash, nil, :placeholder => '0.00', :class => 'price'
      %li
        = label_tag :taxable
        = check_box_tag :taxable, 1, true
      %li
        = label_tag :discountable
        = check_box_tag :discountable, 1, true
      %li
        = label_tag :clear
        %a{:href => '#clear_row', :class => 'button clear_row'} Clear
      %li
        = label_tag :add
        %a{:href => '#add_row', :class => 'button add_row'} Add