%form{:action => '#customer', :method => 'get'}
  %ul
    %li
      = label_tag :first_name, "First Name"
      = text_field_tag :first_name, :required => true
    %li
      = label_tag :last_name, "Last Name"
      = text_field_tag :last_name, :required => true
    %li
      = label_tag :middle_name, "Middle Name"
      = text_field_tag :middle_name
    %li
      = label_tag :date_of_birth, "Date of Birth"
      = select_date Date.today, :prefix => :date_of_birth, :start_year => Time.now.year - 100, :end_year => Time.now.year
  %ul
    %li
      = label_tag :first_line, "Address First Line"
      = text_field_tag :first_line
    %li
      = label_tag :second_line, "Address Second Line"
      = text_field_tag :second_line
    %li
      = label_tag :city
      = text_field_tag :city
    %li
      = label_tag :state
      = text_field_tag :state
    %li
      = label_tag :zip
      = text_field_tag :zip
  %ul
    %li
      = label_tag :number, "Phone Number"
      = text_field_tag :number, nil, :required => true
    %li
      = label_tag :address, "Email Address"
      = email_field_tag :address, nil, :required => true
    %li
      = label_tag :drivers_license_number, "Drivers License No."
      = text_field_tag :drivers_license_number, nil, :required => true
    %li
      = label_tag :drivers_license_state, "Drivers License State"
      = text_field_tag :drivers_license_state, nil, :required => true
  %ul
    %li
      = label_tag :credit, "Store Credit"
      = text_field_tag :credit, nil, :disabled => true
    %li
      = label_tag :flagged
      = check_box_tag :customer_flagged, 1
  %ul
    %li
      = label_tag :notes
      = text_area_tag :notes, nil, :rows => 4, :cols => 100
      = hidden_field_tag :id, 0
  %ul
    %li
      %ul{:class => 'button_nav'}
        %li
          %a{:href => '#clear', :class => 'button clear'} Clear
        %li
          %a{:href => '#save', :class => 'button save'} Save