%form{:action => '#users_overview_user', :id => 'users_overview_user', :method => 'get'}
  %ul
    %li
      = label_tag :first_name, "First Name"
      = text_field_tag :first_name, nil, :required => true
    %li
      = label_tag :last_name, "Last Name"
      = text_field_tag :last_name, nil, :required => true
    %li
      = label_tag :middle_name, "Middle Name"
      = text_field_tag :middle_name
    %li
      = label_tag :date_of_birth, "Date of Birth"
      = select_date Date.today, :prefix => :date_of_birth, :start_year => Time.now.year - 100, :end_year => Time.now.year
  %ul
    %li
      = label_tag :address
      = text_field_tag :address, nil, :required => true
    %li
      = label_tag :phone, "Phone Number"
      = text_field_tag :phone, nil, :required => true
    %li
      = label_tag :email, "Email Address"
      = text_field_tag :email, nil, :required => true
  %ul
    %li
      = label_tag :title
      = text_field_tag :title, nil, :required => true
    %li
      = label_tag :rate
      = text_field_tag :rate, nil, :required => true, :placeholder => '0.00'
  %ul
    %li
      = label_tag :token, "Username"
      = text_field_tag :token, nil, :required => true
    %li
      = label_tag :password
      = password_field_tag :password
    %li
      = label_tag :password_confirmation, "Password Confirmation"
      = password_field_tag :password_confirmation
      = hidden_field_tag :id
    %li
      = label_tag :administrator
      = check_box_tag :administrator, 1
    %li
      = label_tag :active
      = check_box_tag :active, 1
  %ul
    %li
      %ul{:class => 'button_nav'}
        %li
          %a{:href => '#save', :class => 'button save'} Save