#main_container
  %header
    %hgroup
      %h1 GAMEROOM
      %h2 1709 O St. Lincoln NE 68508 402-438-7161
    - if current_user
      %ul{:id => 'user_nav'}
        %li= current_user.login
        %li &#124;
        %li
          = link_to "Logout", logout_path, :method => :delete
  #section_container
    %ul{:id => 'transaction_nav'}
      %li
        %a{:href => '#hold'} Hold
      %li
        %a{:href => '#load'} Recall
      %li
        %a{:href => '#reset'} Reset
    %section{:id => 'customer'}
      = render :partial => 'customer'
    %section{:id => 'cart'}
      = render :partial => 'cart'
    %section{:id => 'payment'}
      = render :partial => 'payment'
    %section{:id => 'review'}
      = render :partial => 'review'
%footer
  = render :partial => 'footer'
