%div{:id => 'login', :class => 'section_container'}
  %section{:id => 'login'}
    = render :partial => 'login_form'
%div{:id => 'dashboard', :class => 'section_container'}
  %section{:id => 'dashboard'}
    = render :partial => 'dashboard_nav'
%div{:id => 'transactions', :class => 'section_container'}
  %ul{:id => 'transactions_nav', :class => 'drop_nav'}
    %li{:id => 'transactions_nav_till'}
    %li
      %a{:href => '#reset', :class => 'button reset'} Reset
  %section{:id => 'transactions_cart'}
    = render :partial => 'transactions_cart'
  %section{:id => 'transactions_customer'}
    = render :partial => 'transactions_customer'
  %section{:id => 'transactions_payment'}
    = render :partial => 'transactions_payment'
  %section{:id => 'transactions_review'}
    = render :partial => 'transactions_review'
%div{:id => 'inventory', :class => 'section_container'}
  %section{:id => 'inventory_overview'}
    = render :partial => 'inventory_overview'
%div{:id => 'reports', :class => 'section_container'}
%div{:id => 'tills', :class => 'section_container'}
  %section{:id => 'tills_overview'}
    = render :partial => 'tills_overview'
  %section{:id => 'tills_admin'}
    = render :partial => 'tills_admin'
%div{:id => 'timeclock', :class => 'section_container'}
  %section{:id => 'timeclock_overview'}
    = render :partial => 'timeclock_overview'
  %section{:id => 'timeclock_admin'}
    = render :partial => 'timeclock_admin'
%div{:id => 'users', :class => 'section_container'}
  %section{:id => 'users_overview'}
    = render :partial => 'users_overview'