= form_for :line, :method => 'get', :url => root_path do |g|
  %ul{:class => 'line_nav'}
    %li
      %ul{:class => 'button_nav'}
        %li
          %a{:href => '#more', :class => 'button more'} More
        %li
          %a{:href => '#less', :class => 'button less'} Less
        %li
          %a{:href => '#clear_all', :class => 'button clear_all'} Clear
        %li
          %a{:href => '#add_all', :class => 'button add_all'} Add All To Cart
  - (1..5).each do
    %ul{:class => 'line_elements'}
      %li
        = g.label :quantity, "Qty."
        = g.text_field :quantity, :value => 1, :class => 'quantity'
      %li
        = g.label :title, "Title"
        = g.text_field :title
      %li
        = g.label :description, "Description"
        = g.text_field :description
      %li
        = g.label :price, "Base Price"
        = g.text_field :price, :placeholder => '0.00', :class => 'price'
      %li
        = g.label :credit, "Credit Price"
        = g.text_field :credit, :placeholder => '0.00', :class => 'price'
      %li
        = g.label :cash, "Cash Price"
        = g.text_field :cash, :placeholder => '0.00', :class => 'price'
      %li
        = g.label :taxable
        = check_box_tag :line_taxable, 1, true
      %li
        = g.label :discountable
        = check_box_tag :line_discountable, 1, true
      %li
        = g.label :clear
        %a{:href => '#clear_row', :class => 'button clear_row'} Clear
      %li
        = g.label :add
        %a{:href => '#add_row', :class => 'button add_row'} Add