%div{:id => 'customer_header', :class => 'header_container'}
  %div{:id => 'customer_search'}
    %ul{:class => 'alphabet_nav'}
      - ('A'..'Z').each do |letter|
        %li
          %a{:href => "##{letter}", :class => 'button dark'}= letter
    %form{:action => '/', :method => 'get'}
      %div
        = text_field_tag :query, nil, :class => 'query', :placeholder => 'Search for a customer...'
        %a{:href => '#clear', :class => 'button clear'} X
%ul{:id => 'customer_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#customer_review', :class => 'customer_review'} Customer
  %li
    %a{:href => '#customer_form', :class => 'customer_form'} Add / Update Customer
  %li
    %a{:href => '#customer_search_results', :class => 'customer_search_results'} Search Results
%div{:id => 'customer_pages', :class => 'page_container'}
  %div{:id => 'customer_review'}
    = render :partial => 'customer_review'
  %div{:id => 'customer_form'}
    = render :partial => 'customer_form'
  %div{:id => 'customer_search_results'}
    = render :partial => 'customer_results'