= form_for :customer, :method => 'get', :url => root_path do |c|
  %ul
    = c.fields_for :person do |p|
      %li
        = p.label :first_name, "First Name"
        = p.text_field :first_name, :required => true
      %li
        = p.label :last_name, "Last Name"
        = p.text_field :last_name, :required => true
      %li
        = p.label :middle_name, "Middle Name"
        = p.text_field :middle_name
  %ul
    = c.fields_for :person do |p|
      = p.fields_for :address do |a|
        %li
          = a.label :first_line, "Address First Line"
          = a.text_field :first_line
        %li
          = a.label :second_line, "Address Second Line"
          = a.text_field :second_line
        %li
          = a.label :city
          = a.text_field :city
        %li
          = a.label :state
          = a.text_field :state
        %li
          = a.label :zip
          = a.text_field :zip
  %ul
    = c.fields_for :person do |p|
      = p.fields_for :phone do |h|
        %li
          = h.label :number, "Phone Number"
          = h.text_field :number, :required => true
      = p.fields_for :email do |e|
        %li
          = e.label :address, "Email Address"
          = e.email_field :address, :required => true
    %li
      = c.label :drivers_license_number, "Drivers License No."
      = c.text_field :drivers_license_number, :required => true
    %li
      = c.label :drivers_license_state, "Drivers License State"
      = c.text_field :drivers_license_state, :required => true
  %ul
    %li
      = c.label :credit, "Store Credit"
      = c.text_field :credit, :disabled => true
    %li
      = c.label :flagged
      = check_box_tag :customer_flagged, 1
  %ul
    %li
      = c.label :notes
      = c.text_area :notes, :rows => 4, :cols => 100
      = c.hidden_field :id, :value => 0
  %ul
    %li
      %ul{:class => 'button_nav'}
        %li
          %a{:href => '#clear', :class => 'button clear'} Clear
        %li
          %a{:href => '#save', :class => 'button save'} Save