%ul{:id => 'dashboard_nav'}
  %li
    %a{:href => "#{transactions_root_path}"}
      %img{:src => '/images/transactions.png', :alt => 'Transactions'}
      %span Transactions
  %li
    %a{:href => "#{timeclock_root_path}"}
      %img{:src => '/images/timeclock.png', :alt => 'Timeclock'}
      %span Timeclock
  %li
    %a{:href => "#{tills_root_path}"}
      %img{:src => '/images/tills.png', :alt => 'Tills'}
      %span Tills
  %li
    %a{:href => "#{repairs_root_path}"}
      %img{:src => '/images/repairs.png', :alt => 'Repairs'}
      %span Repairs
  %li
    %a{:href => "#{support_root_path}"}
      %img{:src => '/images/support.png', :alt => 'Support'}
      %span Support
  %li
    %a{:href => "#{inventory_root_path}"}
      %img{:src => '/images/inventory.png', :alt => 'Inventory'}
      %span Inventory
  - if current_user.admin?
    %li
      %a{:href => "#{reports_root_path}"}
        %img{:src => '/images/reports.png', :alt => 'Reports'}
        %span Reports
    %li
      %a{:href => "#{users_root_path}"}
        %img{:src => '/images/users.png', :alt => 'Users'}
        %span Users