%div{:id => 'timecard', :class => 'modal'}
  %h2 Timecard
  %form{:action => '#timecard', :id => 'admin_timecard', :method => 'get'}
    %ul
      %li
        = label_tag :begin
        = select_date Date.today, :prefix => 'begin'
      %li
        = select_time Time.now, :prefix => 'begin'
    %ul
      %li
        = label_tag :end
        = select_date Date.today, :prefix => 'end'
      %li
        = select_time Time.now, :prefix => 'end'
        = hidden_field_tag :id
    %ul
      %li
        %ul{:id => 'timecard_nav', :class => 'button_nav'}
          %li
            %a{:href => '#cancel', :class => 'cancel button'} Cancel
          %li
            %a{:href => '#save', :class => 'save button'} Save