%div{:class => 'repair_receipt'}
  %hgroup
    %h1 Gameroom
    %h2 1713 O St. Lincoln NE 68508 
    %h2 402-438-7161
  %table
    %tbody
      %tr
        %td ID
        %td= @repair.id
      %tr
        %td Name
        %td= @repair.name
      %tr
        %td Phone
        %td= @repair.phone
      %tr
        %td Item
        %td= @repair.item
      %tr
        %td Serial
        %td= @repair.serial
      %tr
        %td Cost
        %td= number_to_currency @repair.cost.to_f / 100
      %tr
        %td Symptoms
        %td= @repair.symptoms
      %tr
        %td Receiver
        %td= @repair.receiver
      %tr
        %td Date
        %td= @repair.created_at.strftime('%m/%d/%Y %I:%M:%S %p')
  %p Open 10a-10p 7 Days
  %p www.gameroomlincoln.com