#login_form
  %h2 Login
  = form_for @user_session do |f|
    %ul
      %li
        = f.label :login, "Username"
        = f.text_field :login
    %ul
      %li
        = f.label :password
        = f.password_field :password
    %ul
      %li
        = f.label :remember_me, :class => 'inline'
        = f.check_box :remember_me
    %ul
      %li
        = f.submit "Login"