!!!5
%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery/jquery.min'
    = javascript_include_tag 'jquery/jquery.strftime.min'
    = javascript_include_tag 'js.class/core', 'js.class/observable'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'inflection'
    = javascript_include_tag 'application'
    = render :partial => 'javascript'
    = csrf_meta_tag
    %title Gameroom
  %body
    .main_container
      %header
        %hgroup
          %h1 GAMEROOM
          %h2 1713 O St. Lincoln NE 68508 402-438-7161
        - if current_user
          %ul{:id => 'user_nav', :class => 'link_nav'}
            - unless current_user.person.nil?
              %li{:class => 'current_user_login', :"data-user-id" => "#{current_user.id}"}= "#{current_user.person.first_name} #{current_user.person.last_name}"
            - else
              %li{:class => 'current_user_login', :"data-user-id" => "#{current_user.id}"}= "#{current_user.login}"
            %li &#124;
            %li
              = link_to "Dashboard", dashboard_root_path
            %li &#124;
            %li
              = link_to "Logout", logout_path, :method => :delete
      = yield
    %footer
      = render :partial => 'footer'
    .overlay
    = render :partial => 'modals'